/*UTILITY-FIRST - aplicar em cada id (la no html) a classe abaixo para que seja aplicado*/
.grid {
  display: grid;
}
.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}